#eslintrc
.eslintrc.json

# next-config.ts
next.config.mjs

# ts-configs
tsconfig.json
tsconfig.paths.json

# gitignore
.gitignore

# tailwind.config.ts
tailwind.config.ts

# postcss.config.mjs
postcss.config.mjs

